/* ------------- Wrapper per ogni Page ------------- */
.container {
    padding: 24px;
    height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr auto;

    max-width: 1100px;
    margin: 0 auto;
}

/* ------------- Head Table ------------- */
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 20px;
    color: var(--text-color-secondary);
    font-weight: 500;
}

.heading button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}


/* All Columns */
.heading_thumbnail,
.heading_first,
.heading_medium,
.heading_last {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4;
}

/* Image */
.heading_thumbnail {
    flex: 1;
    margin-right: 1px;
}

/* First Column */
.heading_first {
    text-align: left;
    justify-content: flex-start;
}

/* Last Column */
.heading_last {
    text-align: right;
    justify-content: flex-end;
}



.sort_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-left: 2px;
    color: var(--primary-color);
}


/* ------------- Body Table ------------- */
.row {
    display: flex;
    padding: 20px;
    text-align: center;

    font-weight: 500;
    
    margin-bottom: 16px;
    background-color: var(--background-color-light);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.row:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}




/* ------------- Data Body Table ------------- */
/* All Columns */
.thumbnail,
.first,
.medium,
.last {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4;
}

/* Image */
.thumbnail {
    flex: 1;
    margin-right: 16px;
}

.thumbnail img {
    border-radius: 8px;
    max-height: 100px;
}

/* First Column */
.first {
    text-align: left;
    justify-content: flex-start;
}

/* Last Column */
.last {
    text-align: right;
    justify-content: flex-end;
}



/* ------------- Colors ------------- */
.row_green {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(143, 255, 154, 0.52));
}

.row_red {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 159, 159, 0.51));
}

.green {
    color: #4da375;
}

.red {
    color: #a34d5d;
}


/* ------------- Smartphone ------------- */
@media screen and (max-width: 720px) {
    
    .thumbnail,
    .heading_thumbnail {
        display: none;
    }
    
    .medium,
    .heading_medium {
        display: none;        
    }

    .last,
    .heading_last {
        padding-left: 0;
    }
    
    .row_green {
        background-image: linear-gradient(to right, rgba(143, 255, 154, 0.52), rgba(143, 255, 154, 0.52));
    }

    .row_red {
        background-image: linear-gradient(to right, rgba(255, 159, 159, 0.51), rgba(255, 159, 159, 0.51));
    }
    
}
